{
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "start": {
      "presets": ["@babel/react",
        ["@babel/env", {"targets": {"browsers": "> 1%"}}]]
    },
    "test": {
      "presets": ["@babel/react",
        ["@babel/env", {"targets": {"browsers": "> 1%"}}]],
      "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-object-rest-spread"]
    },
    "development": {
      "presets": ["@babel/react",
        ["@babel/env", {"targets": {"browsers": "> 1%"}}]],
      "plugins": []
    },
    "production": {
      "presets": ["@babel/react",
        ["@babel/env", {"targets": {"browsers": "> 1%"}}]],
      "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-object-rest-spread"]
    }
  }
}
