{
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "start": {
      "presets": ["react",
        ["env", {"targets": {"browsers": "> 1%"}}]]
    },
    "test": {
      "presets": ["react",
        ["env", {"targets": {"browsers": "> 1%"}}]]
    }
  }
}