# See http://help.github.com/ignore-files/ for more about ignoring files.
build
# dependencies
node_modules

# testing
coverage

# production

# misc
.DS_Store
.env
npm-debug.log

#documentation
doc
dist

public/images