@import '../vars.sass'

#knowledge-sharing
    .content
        padding: 1em
        border: 1px solid $primary-color
        margin-top: -1px
    .nav-tabs
        .nav-link
            background-color: transparent
            color: white
            border-color: transparent transparent $primary-color
            cursor: pointer
            text-transform: capitalize

            &.active
                color: $primary-color
                border-color: $primary-color $primary-color $background-color