@import "vars"
@import "styles/themes"

html
  font-family: 'Montserrat', sans-serif
  font-family: 'Roboto', sans-serif
  font-family: 'Noto Sans', sans-serif

body
  margin: 0
  padding: 0
  font-family: sans-serif
  color: white
  height: 100%

#root
  @include themify($themes)
    background: themed('background-color')
  transition: 1s

.wrapper
  max-width: 1200px
  margin: 0 auto

hr
  @include themify()
    border: themed('panel-color') solid 1px
    box-shadow: 0 0 10px opacify(themed('panel-color'), .5)
  clear: both
  width: 100%
  margin: .5rem 0

h3
  @include themify($themes)
    color: themed('primary-color')

.content-box
  width: 50%
  margin: 0 auto
  padding: 2em
  @include themify($themes)
    background: themed('panel-color')
    color: themed('text-color')

.app-content
  margin-top: 50px


@media only screen and (max-width: 992px)
  .content-box
    width: 80%

.dimmed
  @include themify($themes)
    background-color: opacify(themed('background-color-0'), .6)
    box-shadow: 0 0 22px 20px opacify(themed('background-color-0'), .6)

.clear-fix
  clear: both

.container > .row > footer
  @include themify()
    background: themed('panel-color')
    color: themed('white')
  padding: .1em
  text-align: center
  width: 100%

.container > .row > footer p
  margin: 1em
