html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background: rgb(112, 122, 132);
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

hr {
  border: rgb(51, 59, 80) solid 1px;
  clear: both;
  box-shadow: 0 0 10px rgba(51, 59, 80,0.5);
  width: 100%;
  margin: .5rem 0;
}

h3 {
  color: rgb(40, 222, 65);
}

.content-box {
  background: rgb(51, 59, 80);
  width: 50%;
  margin: 0 auto;
  padding: 2em;
  color: white;
}


@media only screen and (max-width: 992px) {
  .content-box {
    width: 80%;
  }
}

.dimmed {
  background-color: rgba(111, 122,132, .6);
  box-shadow: 0 0 22px 20px rgba(111,122,132,.6);
}

.clear-fix {
  clear: both;
}

.container > .row > footer {
  background: rgb(51, 59, 80);
  padding: .1em;
  text-align: center;
  color: white;
  width: 100%;
}

.container > .row > footer p {
  margin: 1em;
}
