body {
  background: rgb(112, 122, 132);
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

hr {
  border: rgb(51, 59, 80) solid 1px;
  clear: both;
  box-shadow: 0 0 10px rgba(51, 59, 80,0.5);
}

h3 {
  color: rgb(40, 222, 65);
}

#greeting {
  display: flex;
  align-items: center;
}

#greeting .title {
  text-align: left;
  display: inline-block;

}

#greeting img {
  max-width: 100%;
  max-height: 450px;
  /*float: right;*/
}

#greeting h1 {
  font-size: 3em;
}

#greeting h2 {
  font-size: 2em;
}

#greeting .text-content {
  color: rgb(40, 222, 65);
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  flex: 1;
}

#greeting .image-content {
  /*background-image: url("../../images/opt-foto.jpg");*/
  text-align: center;
  display: inline-block;
  /*z-index: -2;*/
  position: relative;
}

#greeting .image-content img:nth-child(1) {
  z-index: -5;
  position: relative;
}

#greeting .image-content img:nth-child(2) {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#greeting .image-content img {
  visibility: hidden;
  transition: .5s;
  opacity: 0;
}

#greeting .image-content img.loaded {
  opacity: 1;
  visibility: visible;
  filter: grayscale(0);
}

#greeting .image-content img.loaded:nth-child(1){
  opacity: .5;
  filter: grayscale(50%);
}

#about .info, #contacts .content {
  background: rgb(51, 59, 80);
  width: 50%;
  margin: 0 auto;
  padding: 2em;
  color: white;
}


@media only screen and (max-width: 992px) {
  #about .info, #contacts .content {
    width: 80%;
  }
}

#contacts .content .info {
  display: inline-block;
  position: static;
}

#contacts .content .info a {
  color: rgb(40, 222, 65);
  text-decoration: none;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

#contacts .content form > .row > div:nth-child(1) {
  padding-right: 5px;
}

#contacts .content form > .row > div:nth-child(2) {
  padding-left: 5px;
}

@media all and (max-width: 575px) {
  #contacts .content form > .row > div:nth-child(1) {
    padding-right: 15px;
    padding-bottom: 15px;
  }

  #contacts .content form > .row > div:nth-child(2) {
    padding-left: 15px;
  }
}

#contacts .content [type="submit"] {
  background-color: rgb(40, 222, 65);
  color: white;
}

#portfolio .project .content {
  /*margin: 1em;*/
  border: rgb(40, 222, 65) solid 1px;
  display: inline-block;
  height: 100%;
  text-decoration: none;
}

#portfolio .project img {
  max-width: 100%;
  /*display: none;*/
  /*opacity: 0;*/
  transition: margin-left .5s;
  margin-left: -100%;
  position: absolute;
  z-index: 10;
}

.images-container {
  position: relative;
  overflow: hidden;
  height: 200px;
}

#portfolio .project img.active {
  display: block;
  margin-left: 0;
  opacity: 1;
  position: absolute;
}

/*#portfolio .project img.active+img {*/
  /*margin-left: 100%;*/
/*}*/

#portfolio .project img:not(.active) {
  margin-left: -100%;
}

/*#portfolio .project img.active+img {*/
  /*margin-left: 100%;*/
/*}*/

#portfolio .project img.next {
  margin-left: 100%;
  visibility: hidden;
  /*display: none;*/
}

#portfolio .project:first-child .content {
  margin-left: 0;
}

#portfolio .project:last-child .content {
  margin-right: 0;
}

#portfolio .projects {
  display: flex;
  margin-bottom: 2em;
  overflow: hidden;
  /*align-items: center;*/
  flex-wrap: wrap;
  align-items: stretch;
}

#portfolio .project {
  margin-top: 1rem;
}

#portfolio .project a {
  /*background-color: rgba(111, 122,132, .6);*/
  /*box-shadow: 0 0 22px 20px rgba(111,122,132,.6);*/
}

#portfolio .project .info {
  text-align: center;
  color: white;
  padding: 1em;
}

#portfolio .project .info label {
  color: rgb(40, 222, 65);
}

#experience h4 {
  color: white;
}

.dimmed {
  background-color: rgba(111, 122,132, .6);
  box-shadow: 0 0 22px 20px rgba(111,122,132,.6);
}

.technologies .bar {
  height: 18px;
  display: inline-block;
  padding: 0;
}

.bar-value {
  background: rgb(40, 222, 65);
  height: inherit;
  transition: width 1s;
  width: 0;
}

.bar-label {
  left: 0;
  transition: left 1s;
}

.form-element input, .form-element textarea, .form-element button {
  box-sizing: border-box;
  width: 100%;
  margin: .5em;
}

.form-element textarea {
  height: 10em;
}

.form-element input[name="name"] {
  width: 95%;
}

.form-element.submit {
  float: right;
}

.form-element button {
  border: none;
  background: rgb(40, 222, 65);
  color: white;
  padding: 5px;
}

/*.technologies label {*/
  /*display: inline-block;*/
  /*vertical-align: top;*/
  /*padding-right: 1em;*/
  /*text-align: right;*/
/*}*/

.technologies > .item > .title {
  text-align: right;
  display: table-cell;
}

.technologies > .item > .title label {
  padding-right: 1em;
  vertical-align: text-bottom;
  margin-bottom: 0;
}

.technologies .bar + span {
  vertical-align: text-bottom;
  /*padding: 0;*/
  line-height: initial;
  position: absolute;
  padding: 0 5px;
}

.technologies {
  color: rgb(40, 222, 65);
  display: table;
  padding-right: 42px;
}

.technologies .item {
  padding-bottom: 2em;
  display: table-row;
}

.technologies .item .details {
  color: white;
}

.technologies .bar-wrapper {
  width: 100%;
  display: table-cell;
  padding: 1em 0;
  position: relative;
}



.container > .row > section {
  padding: 2em 0;
}

/*.container > section:after {*/
  /*height: 100%;*/
  /*width: 100%;*/
/*}*/

.figure-box {
  flex-grow: 1;
  height: 50%;
}

.container > .row > section > header > h5,
.container > .row > section > .component > header > h5,
.container > .row > section > .component > footer > h5,
.container > .row > section > footer > h5 {
  color: white;
  text-align: center;
}

.container > .row > section > header > h4,
.container > .row > section > .component > header > h4,
.container > .row > section > footer > h4 {
  color: white;
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
}

.clear-fix {
  clear: both;
}

.container > .row > footer {
  background: rgb(51, 59, 80);
  padding: .1em;
  text-align: center;
  color: white;
}

.container > .row > footer p {
  margin: 1em;
}

form .form-element {
  display: inline-block;
}

#contacts .content .contact-box{
  display: inline-block;
  position: relative;
}

/*#contacts .content .info:after,*/
/*#contacts .content form:after {*/
  /*display: block;*/
  /*position: absolute;*/
  /*height: 100%;*/
  /*content: " ";*/
  /*background-color: #fff;*/
/*}*/

.social-networks {
  text-align: center;
}

.social-networks a {
  text-decoration: none;
  width: 2em;
  height: 2em;
  background-size: contain;
  content: "";
  display: inline-block;
  margin: 1em 1em 0 0;
}

.social-networks a.fb-icon {
  background-image: url("../../images/icons/facebook.png");
}

.social-networks a.li-icon {
  background-image: url("../../images/icons/linkedin.png");
}

.social-networks a.uw-icon {
  background-image: url("../../images/icons/upwork.jpeg");
}

.social-networks a.st-icon {
  background-image: url("../../images/icons/stackoverflow.png");
}

.social-networks a.gh-icon {
  background-image: url("../../images/icons/git_hub.png");
}

html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.figures-wrapper {
  position: fixed;
  height: 100%;
  z-index: -1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.figures-wrapper img {
  position: relative;
  max-width: 50%;
  top: 50%;
  left: 50%;
  max-height: 50%;
  transform: translate(-50%, -50%);
  opacity: .2;
  transition: 1s;
}

.figures-wrapper.sphere img {
  opacity: .4;
}

/*form .alert.alert-success{*/
  /*opacity: 1;*/

/*}*/