#portfolio .project .content {
  /*margin: 1em;*/
  border: rgb(40, 222, 65) solid 1px;
  display: inline-block;
  height: 100%;
  text-decoration: none;
}

#portfolio .project img {
  max-width: 100%;
  /*display: none;*/
  /*opacity: 0;*/
  transition: margin-left .5s;
  margin-left: -100%;
  position: absolute;
  z-index: 10;
}

#portfolio .project img.active {
  display: block;
  margin-left: 0;
  opacity: 1;
  position: absolute;
}

/*#portfolio .project img.active+img {*/
/*margin-left: 100%;*/
/*}*/

#portfolio .project img:not(.active) {
  margin-left: -100%;
}

/*#portfolio .project img.active+img {*/
/*margin-left: 100%;*/
/*}*/

#portfolio .project img.next {
  margin-left: 100%;
  visibility: hidden;
  /*display: none;*/
}

#portfolio .project:first-child .content {
  margin-left: 0;
}

#portfolio .project:last-child .content {
  margin-right: 0;
}

#portfolio .projects {
  display: flex;
  margin-bottom: 2em;
  overflow: hidden;
  /*align-items: center;*/
  flex-wrap: wrap;
  align-items: stretch;
}

#portfolio .project {
  margin-top: 1rem;
}

#portfolio .project a {
  /*background-color: rgba(111, 122,132, .6);*/
  /*box-shadow: 0 0 22px 20px rgba(111,122,132,.6);*/
}

#portfolio .project .info {
  text-align: center;
  color: white;
  padding: 1em;
}

#portfolio .project .info label {
  color: rgb(40, 222, 65);
}