.app-section > header > h5,
.app-section > .component > header > h5,
.app-section > .component > footer > h5,
.app-section > footer > h5 {
  color: white;
  text-align: center;
}

.app-section > header > h4,
.app-section > .component > header > h4,
.app-section > footer > h4 {
  color: white;
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
}

.app-section {
  padding: 2em 0;
  width: 100%;
}