$icons-path: '../assets/images/icons'
$shapes-path: '../assets/images/figures'
$projects-path: '../assets/images/projects'
$shapes-list: sphere, hexagon, triangle
$projects: vkukurba, lidikart, fredra, eis, xtexter, xtexter-api